/* style.css - style sheet for the maps projecdt */

/*------------------------------------------------------------------------------------*/
* { box-sizing: border-box;}

html {
  background-image: url(images/space-needle.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 170%;
  overflow-x:hidden;
  overflow-y:scroll;
}

body {
  background-image: url(images/border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 42em;
}

.wrapper {
  width: 80%;
  max-width: 52em;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-height: 5em;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  margin: .8em 0 0 0;
}

#map {
  width: 69%;
  height: 23em;
  font-family: 'Patrick Hand', cursive;
  background-color: #ffbad3;
  border-radius: .7em;
  border: .5em #ffbad3 solid;
  z-index: 30;
}

.gm-style-iw {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  background-color: #465ace;
  color: #fcd6e4;
  font-weight: bold;
}

#movie {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 37em;
  width: 22em;
  z-index: 100;
  background-image: url(images/border.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

video {
  border-radius: .7em;
	border: .5em #ffbad3 solid;
}

img {
  width: 4em;
  height: 4em;
  margin: 1em .4em 0 .4em;
}

.coordinates {
  display: flex;
  flex-flow: row wrap;
  width: 35em;
}

.input-element {
  display: flex;
  flex-flow: row nowrap;
  width: 15em;
}

.input-element:last-child {
  width: 6em;
}

input {
  font-size: 1.3em;
  height: 1.3em;
  min-width: 69%;
  margin: .5em 0 0 0;
}

input:last-child {
  font-size: 1.3em;
  height: 1.3em;
  min-width: 1%;
  margin: .5em 0 0 0;
}

select {
  font-size: 1.3em;
  height: 1.3em;
  width: 10em;
  margin: 0 0 0 2em;
}

select, option, input {font-family: 'Patrick Hand', cursive; background-color: #ecb1d4; color: #061781; z-index: 50;}

/*I took this code from http://stackoverflow.com/questions/3975769/disable-webkits-spin-buttons-on-input-type-number to remove the spinners on the number box*/
 
input[type=number]:not(:last-child)::-webkit-inner-spin-button,
input[type=number]:not(:last-child)::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3, h1 {margin: 0; font-family: 'Pacifico', cursive; color: #ffbad3; opacity: .9;}
h1 {font-size: 3em; text-align: center;}
h3 {font-size: 1.6em; margin: .7em 0 0 .2em;}

p {
  margin: .5em .2em;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
  color: #ffbad3; 
  opacity: .9;
  font-weight: bolder;
  z-index: 49;
}

/*------------------------------------------------------------------------------------*/
/*Below are all media query stylings*/

@media all and (max-width: 69em){
	#map{width: 64%;}
    html{background-size: 220%;}
}

@media all and (max-width: 57.7em){
	.coordinates{width: 63%;}
	header{max-height: 10em;}
	.heading{width:27em; padding: 0 0 0 2em;}
    html{background-size: 240%;}
}

@media all and (max-width: 51em){
    .coordinates{width: 39%;}
    html{background-size: 260%; background-position: top center;}
}

@media all and (max-width: 45em){
	.wrapper{text-align: center;}
	header{
	  flex-flow: column wrap;
		max-height: 100%;
		width: 100%;
	}
	.heading{display: flex; width: 100%; margin: 0; justify-content: center; align-items: center; align-content: center;}
	 h1{margin: .5em 0 0 0;}
	.movie{width: 100%;}
	select{margin: 0;}
	.coordinates{width: 100%; justify-content: center;}
	#map{width: 100%;}
	img{width: 10em; height: 10em; margin:0; padding: 0;}
    html{background-size: auto 100%;}
}

@media all and (max-width: 29.4em){
	h1{font-size: 10vw;}
	img{width:30vw; height: 30vw;}
}
